.hotel-card{
    width:100%;
    margin:auto;
    display:grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items:center;
    row-gap:2.25rem;
    --dark-blue:hsl(233,26%,24%);
    
}

@media only screen and (min-width: 764px) {
    .hotel-card{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (min-width: 1200px) {
    .hotel-card{
        grid-template-columns: repeat(3, 1fr);
    }
}

.cards{
    background-image:linear-gradient(var(--dark-blue),transparent);
    
}

.loader{
    position:absolute;
    width:100vw;
   height:70vh;
   left:0;
   right:0;
   display:flex;
   justify-content: center;
   align-items:center;
}