
.header{
    --light-gray:#F2F2F2;
    --red:rgba(235, 87, 87, 0.9);
    --dark-gray:#374151;
    --light-gray1:#6B7280;
    --light-gray2:#D1D5DB;
    min-height:4rem;
    padding:1rem;
    box-sizing: border-box;
    /* margin-top:1rem; */
    margin-bottom:2rem;
    padding:0 1.5rem;
    
}

.header-logo{
    padding: 0 0 1.5rem 0;
}

.header-form{
    min-width:19.2rem;
    float:right;
    display:flex;
    flex-direction:row;
    border-radius:1rem;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
    /* transition: width 1s ease-in-out;
     */
}



.header-input{
    height:3rem;
    width:50%;
    text-align:center;
    border:none;
    border-right:1px solid var(--light-gray);
    font-family: 'Montserrat', sans-serif;
    
    
    
}

.header-input:first-child{
border-top-left-radius: 1rem;
border-bottom-left-radius: 1rem;
}


.logo-focus{
    display:none;
}

.btn{
    display:none;

}

.full-width{
    width:100%;
    margin-bottom:0;
    animation:navgrowout 1s ease-in-out;
}

.navgrowin{
    animation:navgrowin 1s ease-in-out;
}

.input{
    width:50%;
    border-right:2px solid var(--light-gray);
    margin-bottom:0;
    text-align:left;
    padding-left:1rem;

}

input:nth-child(2){
    border-top-right-radius: 1rem;
border-bottom-right-radius: 1rem;
}




.dropdown-visible{
    box-sizing:border-box;
    z-index:2;
    left:50%;
    transform:translateX(-50%);
    position:absolute;
    background:white;
    font-size:14px;
    top:5rem;
    animation:dropdowngrowout 1s ease-in-out;
    width:calc(100% - 1rem);
    /* background:green; */
}

.dropdowngrowin{
    animation:dropdowngrowin 1s ease-in-out;
}
.dropdown-visible ul{
    list-style:none;
    padding-inline-start:5px;
}



.location li{
    padding:0.75rem;

    
}

.location{
    width: 48%;
    color:#4F4F4F;
    margin-block-end:1.35em;
    margin-left:0.75rem;
    
}

.location li{
    padding-inline-start: 15px;
}
.location li:hover{
    background:#E5E7EB;
}

.input-border{
    border:1.5px solid #4B5563;
    border-radius:1rem;
    color:#4B5563 !important;
}

input:focus,button:focus{
    outline: none;
}

/* animations */
@keyframes navgrowout {
    0% {
      width:20rem ;
    }
    100% {
      width: 100%;
    }
  }

@keyframes dropdowngrowout {
    0% {
      width: 20rem;
      left:80%;
    }
    100% {
      width: calc(100% - 1rem);
      left:50%;
    }
  }


.guests{
      color:var(--dark-gray);
      font-size:14px;
     
      
  }

  .guests li{
      padding-bottom:0.024rem;
  }

  .guests span{
      display:block;
      line-height:1.15rem;
      color:var(--dark-gray);
  }

  .guests h5{
      margin-block-start:0.4em;
      margin-block-end:0.5em;

  }

  .person span:nth-child(2){
    color:var(--light-gray2);
  }

  .counter span{
      display:inline;
      margin-right:1rem;
  }

.counter{
    margin-block-start:0.6em;
}

.person{
    margin-block-end:0.55em;
}

.counter button:nth-child(1),.counter button:nth-child(3){
    border: 1.5px solid var(--light-gray1);
    padding:0rem 0.5rem;
    color:var(--light-gray1);
    font-weight:700;
    font-size:14px;
    border-radius:0.5rem;
    cursor:pointer;
    background:white;
    margin-right:1rem;
    
}

.counter button:nth-child(1):hover,.counter button:nth-child(3):hover{
    background:var(--light-gray);

}

.guest-div{
    display: flex;
    width:50%;
    margin-left:50%;
    justify-content: space-between;
    align-items:flex-start;
}

.guest-div ul{
    margin-block-start:0.4em;
    margin-block-end:0.45em;
}

.guest-div img{
    padding:0.35rem;
    cursor:pointer;
    border: 1.5px solid var(--light-gray1);
    margin:1rem 0.5rem 0 0;
    border-radius:0.25rem;
}

.guest-div img:hover{
    background:var(--light-gray2);
}

.guest-color{
    color:#BDBDBD;
}