
.header{
    --light-gray:#F2F2F2;
    --red:rgba(235, 87, 87, 0.9);
    min-height:4rem;
    padding:1rem;
    box-sizing: border-box;
    margin-bottom:2.2rem;
    
}

.header-logo{
    padding: 0 0 1.5rem 0;
}

.header-form{
    min-width:20rem;
    float:right;
    display:flex;
    flex-direction:row;
    border-radius:1rem;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
    transition: width 1s ease-in-out;
    
}



.header-input{
    height:3rem;
    width:50%;
    text-align:center;
    border:none;
    border-right:1px solid var(--light-gray);
    font-family: 'Montserrat', sans-serif;
    
    
    
}

.header-input:first-child{
border-top-left-radius: 1rem;
border-bottom-left-radius: 1rem;
}


.logo-focus{
    display:none;
}

.btn{
    display:none;

}

.full-width{
    width:100%;
    
    margin-bottom:0;
    animation:reducetime 1s ease-in-out;
    

}

.input{
    width:50%;
    border-right:2px solid var(--light-gray);
    margin-bottom:0;
    text-align:left;
    padding-left:1rem;

}

input:nth-child(2){
    border-top-right-radius: 1rem;
border-bottom-right-radius: 1rem;
}




.dropdown-visible{
    box-sizing:border-box;
    z-index:2;
    left:50%;
    transform:translateX(-50%);
    position:absolute;
    background:white;
    font-size:14px;
    top:6.75rem;
    animation:time 1s ease-in-out;
    width:calc(100% - 5.5rem);
    /* background:green; */
}


.dropdown ul{
    list-style:none;
    padding-inline-start:5px;
}



li{
    padding:0.75rem;

    
}

.location{
    width: 50%;
    color:#4F4F4F;
    
}

.guests{
    width:50%;
    margin-left:50%;
}

.location li:hover{
    background:#E5E7EB;
}

.input-border{
    border:1.5px solid #4B5563;
    border-radius:1rem;
}

input:focus{
    outline: none;
}

@keyframes reducetime {
    0% {
      width:22rem ;
    }
    100% {
      width: 100%;
    }
  }

@keyframes time {
    0% {
      width: 22rem;
      left:80%;
    }
    100% {
      width: calc(100% - 5.5rem);
      left:50%;
    }
  }