

.App { 
  margin:2rem 2rem;
  box-sizing: border-box;
}


.App-bg{
  background: rgba(79, 79, 79, 0.4);
}

.overlay{
  position:absolute;  
  left:0;
  right:0;
  bottom:0;
  background-image:linear-gradient(var(--dark-blue),transparent);
}
