

.App { 
  margin:2rem 2rem;
  box-sizing: border-box;
  --dark-blue:hsl(233,26%,24%);
  overflow-y:hidden;
  
  
}


.App-bg{
  background: rgba(79, 79, 79, 0.4);
}

.overlay{
  background-image:linear-gradient(hsl(233,26%,24%),transparent);
  position:fixed;
  
  top:18.67rem;
  bottom:0;
  left:0;
  right:0;
  animation:fade-in 500ms ease-in-out;
}

@keyframes fade-in{
  from{
    opacity:0;
  }
  to {
    opacity:1;
  }
}

.noscroll{
  overflow: hidden;
}